
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: url(img-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-content: center;
    padding-left:400px;
}


h1{
    color : #17202a ;
    margin-bottom : 3rem;
    font-size: 3rem;
   
 } 
#timer{
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: flex-end;
    justify-content:flex-end;
    flex-wrap: wrap;
}
.box{
    width: 100px;
    padding: 10px 0 0 0;
    background-color:#1c2833  ;
    color: #ffffff;
}
h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    transition: all .5s ease-in-out;
}
h2:hover{
    transform: scale(1.5);
}
p{
    text-transform: capitalize;
    background-color: #d5dbdb ;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px 0;
    color: #2c3e50 ;
}
.btn-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
    padding-top:20px;
}

button {
  align-items: center;
  background-color:#1c2833  ;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: rgba(196, 194, 194, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width:100px;
 
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(141, 140, 140, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-4px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

